<div id="overlayid" class="overlaydes"></div>
<aside id="drawermenuid" class="drawermenu1">
  <section class="drawercont">
    <span id="closebtnid" class="drawerclosebtn">&times;</span>
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Skills</li>
      <li>Projects</li>
      <li>Resume</li>
      <li>Services</li>
      <li>Contact Us</li>
    </ul>
  </section>
</aside>
<main class="fullwidth fullheightvh">
  <%- include('sidenavbar.ejs') %>
  <!-- ////////////////// -->
  <%- include('basicdesigns.ejs') %>
  <!-- ////////////////// -->
  <%- include('progressdesign.ejs') %>
  <!-- ////////////////// -->
  <%- include('drawermenu.ejs') %>
  <!-- ////////////////// -->
  <%- include('rangeslider.ejs') %>
  <!-- ////////////////// -->
</main>
<script nonce="<%= nonce %>">
  document.querySelector(`[HTMLINCLUDE="progressdesignid"]`).style.display =
    "none";
  document.querySelector(`[HTMLINCLUDE="drawermenudesignid"]`).style.display =
    "none";
  document.querySelector(`[HTMLINCLUDE="rangesliderdesignid"]`).style.display =
    "none";
  document.querySelectorAll(".sidenavid1").forEach((button) => {
    button.addEventListener("click", () => {
      document.querySelector(`[HTMLINCLUDE="basicdesignsid"]`).style.display =
        "block";
      document.querySelector(`[HTMLINCLUDE="progressdesignid"]`).style.display =
        "none";
      document.querySelector(
        `[HTMLINCLUDE="drawermenudesignid"]`
      ).style.display = "none";
      document.querySelector(
        `[HTMLINCLUDE="rangesliderdesignid"]`
      ).style.display = "none";
      document.querySelector(`#sidenavid1`).click();
    });
  });

  document.querySelectorAll(".sidenavid2").forEach((button) => {
    button.addEventListener("click", () => {
      document.querySelector(`[HTMLINCLUDE="progressdesignid"]`).style.display =
        "block";
      document.querySelector(`[HTMLINCLUDE="basicdesignsid"]`).style.display =
        "none";
      document.querySelector(
        `[HTMLINCLUDE="drawermenudesignid"]`
      ).style.display = "none";
      document.querySelector(
        `[HTMLINCLUDE="rangesliderdesignid"]`
      ).style.display = "none";
      document.querySelector(`#sidenavid2`).click();
    });
  });

  document.querySelectorAll(".sidenavid3").forEach((button) => {
    button.addEventListener("click", () => {
      document.querySelector(
        `[HTMLINCLUDE="drawermenudesignid"]`
      ).style.display = "block";
      document.querySelector(`[HTMLINCLUDE="basicdesignsid"]`).style.display =
        "none";
      document.querySelector(`[HTMLINCLUDE="progressdesignid"]`).style.display =
        "none";
      document.querySelector(
        `[HTMLINCLUDE="rangesliderdesignid"]`
      ).style.display = "none";
      document.querySelector(`#sidenavid3`).click();
    });
  });
  document.querySelectorAll(".sidenavid4").forEach((button) => {
    button.addEventListener("click", () => {
      document.querySelector(
        `[HTMLINCLUDE="rangesliderdesignid"]`
      ).style.display = "block";
      document.querySelector(
        `[HTMLINCLUDE="drawermenudesignid"]`
      ).style.display = "none";
      document.querySelector(`[HTMLINCLUDE="basicdesignsid"]`).style.display =
        "none";
      document.querySelector(`[HTMLINCLUDE="progressdesignid"]`).style.display =
        "none";
      document.querySelector(`#sidenavid4`).click();
    });
  });
</script>
