<div id="overlayid" class="overlaydes"></div>
<aside id="drawermenuid" class="drawermenu1">
  <section class="drawercont">
    <span id="closebtnid" class="drawerclosebtn">&times;</span>
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Skills</li>
      <li>Projects</li>
      <li>Resume</li>
      <li>Services</li>
      <li>Contact Us</li>
    </ul>
  </section>
</aside>
<main class="fullwidth fullheightvh">
  <%- include('sidenavbar.ejs') %>
  <!-- ////////////////// -->
  <%- include('basicdesigns.ejs') %>
  <!-- ////////////////// -->
  <%- include('progressdesign.ejs') %>
  <!-- ////////////////// -->
  <%- include('drawermenu.ejs') %>
  <!-- ////////////////// -->
  <%- include('rangeslider.ejs') %>
  <!-- ////////////////// -->
</main>
<script nonce="<%= nonce %>">
  async function contentswitchfunc(name, ...getarray) {
    const elements = document.querySelectorAll("[HTMLINCLUDE]");

    elements.forEach((element) => {
      const attributeValue = element.getAttribute("HTMLINCLUDE");
      if (getarray.includes(attributeValue)) {
        if (name === attributeValue) {
          element.classList.remove("displaynone");
        } else {
          element.classList.add("displaynone");
        }
      }
    });
  }

  document.querySelectorAll(".sidenavid1").forEach((button) => {
    button.addEventListener("click", () => {
      let contentarray = [
        "basicdesignsid",
        "progressdesignid",
        "drawermenudesignid",
        "rangesliderdesignid",
      ];
      contentswitchfunc("basicdesignsid", ...contentarray);
      document.querySelector(`#sidenavid1`).click();
    });
  });

  document.querySelectorAll(".sidenavid2").forEach((button) => {
    button.addEventListener("click", () => {
      let contentarray = [
        "basicdesignsid",
        "progressdesignid",
        "drawermenudesignid",
        "rangesliderdesignid",
      ];
      contentswitchfunc("progressdesignid", ...contentarray);
      document.querySelector(`#sidenavid2`).click();
    });
  });

  document.querySelectorAll(".sidenavid3").forEach((button) => {
    button.addEventListener("click", () => {
      let contentarray = [
        "basicdesignsid",
        "progressdesignid",
        "drawermenudesignid",
        "rangesliderdesignid",
      ];
      contentswitchfunc("drawermenudesignid", ...contentarray);
      document.querySelector(`#sidenavid3`).click();
    });
  });
  document.querySelectorAll(".sidenavid4").forEach((button) => {
    button.addEventListener("click", () => {
      let contentarray = [
        "basicdesignsid",
        "progressdesignid",
        "drawermenudesignid",
        "rangesliderdesignid",
      ];
      contentswitchfunc("rangesliderdesignid", ...contentarray);
      document.querySelector(`#sidenavid4`).click();
    });
  });
</script>
